<!DOCTYPE html>
<html>
  <head>
    <title>Some Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/javascripts/pdf.js'></script>
    <script src='/javascripts/pdf.worker.js'></script>
  </head>
  <body>
    <h1>Some Page</h1>
    <section class="inputs">
      <p>Hellloooooooo!</p>
      <p>Welcome to sss</p>
      <label for="client_name">Name</label>
      <input id="client_name" type="text">
    </section>
    <section class="preview">
      <a href="0/pdf">Download</a>
      <canvas id="pdf-canvas"></canvas>
    </section>

    <script>
      $(document).ready(function() {
        var socket = io.connect('http://localhost')
        socket.on('news', function(data) {
          console.log(data);
          socket.emit('update', { client: { name: 'Rui' } });
        });
      });
    </script>

    <script>
      $(document).ready(function() {
        PDFJS.getDocument('0/pdf').then(function(pdf) {
          pdf.getPage(1).then(function(page) {
            var scale = 1;
            var viewport = page.getViewport(scale);

            var canvas = document.getElementById('pdf-canvas');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            var renderContext = {
              canvasContext: context,
              viewport: viewport
            };
            page.render(renderContext);
          });
        });
      })
    </script>
  </body>
</html>
