<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/pdf.css' />
  </head>
  <body>
    <h1>Horto Girassol</h1>
    <div class="info">
      <section class="address">
        <p>Travessa</p>
      </section>
      <section class="client">
        <p>Nome</p>
        <p><%= budget.name %></p>
      </section>
    </div>
  </body>
</html>
